
body {
  color: rgb(230, 230, 230);
  padding: 0;
  margin: 0;
  background-color: white;
}

header {
  background-color: rgb(34, 35, 36);
  
  position: sticky;
  border-bottom: rgb(205, 173, 113) solid 2px;
}

header .header {
  color: rgb(205, 173, 113);
  font-size: 36px;
  display: flex;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  justify-content: center;
}

header nav {
  margin: -10px;
  position: sticky;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  margin: 10px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: rgb(205, 173, 113);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
  user-select: none;
  text-decoration: none;
}

header nav ul li a:hover {
  color: white;
}

article {
}

.Container {
  position: relative;
  text-align: center;
  user-select: none;
}

.Container img {
  width: 100%;
  height: 100%;
}

.Container .Newproduct {
  position: absolute;
  top: 8%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(205, 173, 113);
  font-family: "Staatliches", cursive;
  font-size: 45px;
  letter-spacing: 14px;
}



.Container .Newproductlink {
  color: rgb(205, 173, 113);
  font-family: "Staatliches", cursive;
  left: 10%;
  top: 14%;
  position: absolute;
  font-size: 23px;
  letter-spacing: 6px;
  transition: 0.5s;
  
}

.Container .Newproductlink:hover {
  color: white;
  margin-left: 10px;
}

.Container2 {
color:rgb(53,54,55);

font-family: "Staatliches", cursive;
background-color: white;
margin-top: -4px;
border-top: rgb(205, 173, 113) 2px solid;

}

.Container2 .latestproducts {
  font-size: 45px;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  padding: 16px;
  background-color: rgb(34, 35, 36);
  color:  rgb(205, 173, 113);
  border-bottom: rgb(205, 173, 113) 2px solid;
  user-select: none;
}

.Container2 .latestproduct-img{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  
}

.Container2 .latestproduct-img img{
  
  padding: 20px;

}

.Container2 .latestproduct-box {
  display: flex;
  justify-content: space-around;
  
}
.Container2 .latestproduct-boxlink {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}


.Container2 .latestproduct-text {
  font-size: 30px;
  padding: 15px;
  user-select: none;
}

.Container2 .latestproduct-textlink {
  font-size: 22px;
  user-select: none;
}

.Container2 .latestproduct-textlink:hover {
  color: black;
  border-bottom: black solid 2px;
}

footer {
  background-color: rgb(34, 35, 36);
  border-top: rgb(205, 173, 113) solid 2px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

footer .footer {
  display: flex;
  justify-content: space-around;
}

footer .footer .footertext {
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  font-size: 30px;
  color: rgb(205, 173, 113);
  user-select: none;
  transition: 0.5s;
}

footer .footer .footertext:hover {
  color: white;
 
}

.ContainerProduct1 {
  font-family: "Staatliches", cursive;
  color: black;
  
}

.ContainerProduct1 .YPhone-product-card {
  display: flex;
  flex-wrap: wrap;
  
}

.ContainerProduct1 .YPhone-Productlist .YPhone-img img{
  width: 370px;
  height: 480px;
  border: rgb(205, 173, 113) solid 2px;
}

.ContainerProduct1 .YPHONE-Headertext{
  color: rgb(205, 173, 113);
  background-color: rgb(38, 38, 38);
  font-size: 34px;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  border-bottom: rgb(205, 173, 113) 2px solid;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}








